<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f3e19615-8a1e-4ec0-aba9-8eee25a5d606/resourceGroups/ResourceGroup/providers/Microsoft.Web/sites/Coursework-Itransition</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coursework-itransition.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>7b5f231c-9c6c-4443-8684-b895db507f36</ProjectGuid>
    <PublishUrl>https://coursework-itransition.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Coursework-Itransition</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>