@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RazorCoursework.Pages.HomeModel
@{
}

@if (Model.userName == User.Identity.Name)
{
    @if (User.Identity.IsAuthenticated)
    {
        <h2 class="text-center">@Localizer["MyReviews"]</h2>
        <div class="text-center" style="margin-top: 35px; margin-bottom: 35px">
            <a class="nav-link text-themed"
               asp-area=""
               asp-page="/CreateUserReview">
               <span class="border border-dark" style="padding: 10px 15px 10px 15px">
                    @Localizer["CreateReview"]
               </span>
            </a>
        </div>
    }
}
else
{
    @if (Model.currentPage > 0 && Model.currentPage <= Model.pagesCount)
    {
        <h2 class="text-center">@Localizer["UserReviews"] @Model.userName</h2>
    }
}

@if (Model.pagesCount > 1)
{
    <partial name="_UserReviewsPagingPartial" />
    <hr />
}
<partial name="_ShowReviewsPartial" />
@if (Model.pagesCount > 1)
{
    <hr />
    <partial name="_UserReviewsPagingPartial" />
}
