@page
@model RazorCoursework.Pages.RemoveReviewModel
@{
}

<h2>Удаление обзора "@Model.CurrentReviewName"</h2>

<form id="review" method="post">
    <input type="hidden" name="CurrentReviewId" value="@Model.CurrentReviewId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <h5>
        Вы действительно хотите удалить этот обзор?
    </h5>
    <button type="submit" class="btn btn-danger">Удалить обзор</button>
    <a class="btn btn-primary"
       asp-area=""
       asp-page="/Home"
       asp-route-user="@User.Identity.Name"
       asp-route-p="1">
        Отменить
    </a>
</form>
