@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RazorCoursework.Pages.SearchReviewsModel
@{

}

@if (Model.currentTag != null && Model.currentTag != string.Empty)
{
    <h2 class="text-center">
        @Localizer["ReviewsWithTag"] @Model.currentTag
    </h2>
}
else
{
    <h2 class="text-center">
        @Localizer["AllReviews"]
    </h2>
}

@if (Model.pagesCount > 1)
{
    <partial name="_SearchReviewsPagingPartial" />
    <hr />
}
<partial name="_ShowReviewsPartial" />
@if (Model.pagesCount > 1)
{
    <hr />
    <partial name="_SearchReviewsPagingPartial" />
}
